# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# firebase
.firebase/
firebase-debug.log
firestore-debug.log
pubsub-debug.log
ui-debug.log
firebase-deploy.log

# misc
*.log
.DS_Store
*.pem
.antigravityignore

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# IDEs and Tools
.vscode/
.idea/
.next
node_modules
dist
[build.log]
[build_error.log]
clean-errors.txt
eslint-all.txt
eslint-errors-clean.txt
eslint-errors.json
eslint-errors.txt
eslint.json
eslint2.json
lint.txt
next-lint.json
ts-errors.txt
